@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
    --black: rgb(20, 20, 20);
    --white: rgb(245, 245, 245);

    --dark-gray: rgb(190, 190, 190);
    --gray: rgb(210, 210, 210);
    --light-gray: rgb(230, 230, 230);
    --smooth: rgb(170, 170, 170);

    --blue: rgb(0, 0, 255);
    --dark-blue: rgb(0, 0, 150);

    --success: rgb(0, 180, 0);
    --warning: rgb(250, 250, 0);
    --danger: rgb(230, 0, 0);
    --divide: var(--light-gray);

    --button-border: var(--light-gray);
    --button-bg: var(--light-gray);
    --button-hover: var(--gray);
    --button-active: var(--dark-gray);

    --link-hover: var(--light-gray);
    --link-active: var(--gray);

    --radius: 0.625rem;
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);

    --dark-gray: rgb(30, 30, 30);
    --gray: rgb(40, 40, 40);
    --light-gray: rgb(50, 50, 50);
    --smooth: rgb(70, 70, 70);

    --blue: rgb(100, 100, 255);
    --dark-blue: rgb(100, 100, 150);

    --divide: var(--gray);

    --button-border: var(--dark-gray);
    --button-bg: var(--dark-gray);
    --button-hover: var(--gray);
    --button-active: var(--light-gray);

    --link-bg: var(--light-gray);
    --link-hover: var(--gray);
    --link-active: var(--light-gray);

    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

.btn {
    @apply m-1 px-3 py-1 rounded-md bg-[var(--button-bg)] hover:bg-[var(--button-hover)] active:bg-[var(--button-active)];
    transition:
        background 0.2s,
        color 0.2s;
}

.link {
    @apply m-1 p-1 rounded-sm hover:bg-[var(--link-hover)] active:bg-[var(--link-active)];
    transition:
        background 0.2s,
        color 0.2s;
}

.link-blue {
    @apply m-1 p-1 text-[var(--blue)] hover:text-[var(--dark-blue)] underline;
}

.header-container {
    @apply container grid w-full;
}

.header-vertical {
    @apply p-1.5 flex flex-col w-40 border-r border-[var(--divide)] p-4;
}

.header-vertical ul {
    @apply flex flex-col space-y-2;
}

.header-vertical a {
    @apply block p-2 rounded hover:bg-[var(--link-hover)] active:bg-[var(--link-active)];
}

.footer {
    @apply w-full left-0 text-center text-sm md:absolute md:bottom-0 md:text-base fixed bottom-0 z-10;
}

.form-container {
    @apply container flex justify-center items-center;
}

.form {
    @apply flex w-[600px] max-w-screen;
}

.form input {
    @apply m-1.5 w-full p-1 border border-[var(--divide)] rounded-md;
}

.form select {
    @apply m-1.5 w-full p-1.5 border border-[var(--divide)] rounded-md;
}

.form button {
    @apply m-1 px-3 py-1 rounded-sm bg-[var(--button-bg)] hover:bg-[var(--button-hover)] active:bg-[var(--button-active)];
    transition:
        background 0.2s,
        color 0.2s;
}

.search-form-container {
    @apply container grid justify-center;
}

.search-form {
    @apply w-full flex flex-row max-w-screen;
}

.search-form input {
    @apply m-1 w-full p-1.5 border border-[var(--divide)] rounded-md;
    width: 400px;
}

.title-container {
    @apply container grid justify-center;
}

.title {
    @apply m-5 text-3xl;
}

.table-container {
    @apply container flex items-center justify-center w-full;
}

.table {
    @apply block overflow-x-auto;
}

.table th,
.table td {
    padding: 10px;
    text-align: center;
    white-space: normal;
    min-width: 120px;
    word-break: break-word;
}

.table-border th,
.table-border td {
    @apply border-collapse;
    border: 1px solid var(--divide);
}
