@import "tailwindcss";

:root {
	--black: rgb(20, 20, 20);
	--white: rgb(245, 245, 245);

	--dark-gray: rgb(190, 190, 190);
	--gray: rgb(210, 210, 210);
	--light-gray: rgb(230, 230, 230);
	--smooth: rgb(170, 170, 170);

	--blue: rgb(0, 0, 255);
	--dark-blue: rgb(0, 0, 150);

	--success: rgb(0, 180, 0);
	--warning: rgb(250, 250, 0);
	--danger: rgb(230, 0, 0);

	--background: var(--white);
	--foreground: var(--black);
	--divide: var(--light-gray);

	--button-border: var(--light-gray);
	--button-bg: var(--light-gray);
	--button-hover: var(--gray);
	--button-active: var(--dark-gray);

	--link-hover: var(--light-gray);
	--link-active: var(--gray);
}

@theme inline {
	--color-background: var(--white);
	--color-foreground: var(--black);
}

@media (prefers-color-scheme: dark) {
	:root {
		--dark-gray: rgb(30, 30, 30);
		--gray: rgb(40, 40, 40);
		--light-gray: rgb(50, 50, 50);
		--smooth: rgb(70, 70, 70);

		--blue: rgb(100, 100, 255);
		--dark-blue: rgb(100, 100, 150);

		--background: rgb(20, 20, 20);
		--foreground: var(--white);
		--divide: var(--gray);

		--button-border: var(--dark-gray);
		--button-bg: var(--dark-gray);
		--button-hover: var(--gray);
		--button-active: var(--light-gray);

		--link-bg: var(--light-gray);
		--link-hover: var(--gray);
		--link-active: var(--light-gray);
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

.btn {
	@apply m-1 px-3 py-1 rounded-md bg-[var(--button-bg)] hover:bg-[var(--button-hover)] active:bg-[var(--button-active)];
	transition: background 0.2s, color 0.2s;
}

.link {
	@apply m-1 p-1 rounded-sm hover:bg-[var(--link-hover)] active:bg-[var(--link-active)];
	transition: background 0.2s, color 0.2s;
}

.link-blue {
	@apply text-[var(--blue)] hover:text-[var(--dark-blue)] underline;
}

.header-container {
	@apply container grid w-full;
}

.header-vertical {
	@apply p-1.5 flex flex-col w-40 border-r border-[var(--divide)] p-4;
}

/* .header-vertical li {
	@apply flex min-w-24 text-[var(--link-color)] active:bg-[var(--link-active)] hover:bg-[var(--link-hover)] rounded-md;
} */

.header-vertical ul {
	@apply flex flex-col space-y-2;
}

.header-vertical a {
	@apply block p-2 rounded hover:bg-[var(--link-hover)] active:bg-[var(--link-active)];
}

.footer {
	@apply w-full left-0 text-center text-sm bg-[var(--background)] md:absolute md:bottom-0 md:text-base fixed bottom-0 z-10;
}

.form-container {
	@apply container flex justify-center items-center;
}

.form {
	@apply flex w-[600px] max-w-screen;
}

.form input {
	@apply m-1.5 w-full p-1 border border-[var(--divide)] rounded-md;
}

.form select {
	@apply m-1.5 w-full p-1.5 bg-[var(--background)] border border-[var(--divide)]  rounded-md;
}

.form button {
	@apply m-1 px-3 py-1 rounded-sm bg-[var(--button-bg)] hover:bg-[var(--button-hover)] active:bg-[var(--button-active)];

	transition: background 0.2s, color 0.2s;
}

.search-form-container {
	@apply container grid justify-center;
}

.search-form {
	@apply w-full flex flex-row max-w-screen;
}

.search-form input {
	@apply m-1 w-full p-1.5 border border-[var(--divide)] rounded-md;
	width: 400px;
}

.title-container {
	@apply container grid justify-center;
}

.title {
	@apply m-5 text-3xl;
}

.table-container {
	@apply container flex items-center justify-center w-full;
}

.table {
	@apply block overflow-x-auto;
}

.table th,
.table td {
	padding: 10px;
	text-align: center;
	white-space: normal;
	min-width: 120px;
	word-break: break-word;
}

.table-border th,
.table-border td {
	@apply border-collapse;
	border: 1px solid var(--divide);
}
