name: CI Pipeline

on:
  push:
    branches:
      - "**"

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Generate .env files
        run: bash ./controller.sh genenvs --no-confirm

      - name: Executing test script
        run: bash ./controller.sh test --no-confirm
